table,
th,
td {
  border: 1px solid rgb(146, 45, 45);
  background-color: rgb(36, 8, 8);
  padding: 4px;
  font-size: 2rem;
  color: white;
}
table {
  margin: auto;
  margin-top: 30px;
}
body {
  background: url("./bg.jpg") no-repeat center center/cover;
  color: rgb(255, 206, 203);
  height: 90vh;
}
h1 {
  color: white;
}
.box {
  margin-top: 10px;
}
.box1 {
  margin-top: 50px;
}
* {
  color: white;
}
a {
  color: rgb(250, 250, 250);
  margin: 2px;
}
a:hover {
  color: darkorange;
}
.login {
  color: #ffc0c0;
}
.login:hover {
  color: rgb(142, 124, 243);
}
