<%- include('./partials/nav') %>

<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >1.walking</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>It’s free, you can do it almost anywhere, no special training is needed, and it’s easy on sore joints.</h5>
            <h5> The Arthritis Foundation says walking can help you maintain a healthy weight or lose weight, resulting in less stress on your joints.</h5>
        <h5>In addition, walking can improve your heart health and bone health.</h5>
        <h5>The cardiac benefit of exercise is especially important for people with RA, as the condition is known to increase the risk for heart disease.</h5>
         
             </div>
       </div> 
</div>
<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >2.Swimming</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>The water is a great place to stretch your muscles and soothe your joints, so hit the pool for an aerobic workout.</h5>
            <h5>Swim laps, or try water walking or a water aerobics class.</h5>
        <h5>A study published in March 2017 in the American Journal of Physical Medicine & Rehabilitationfound that 16 weeks of water-based exercises in women with RA led to significant improvements in joint and other pain, as well as lowered disease activity, when compared with the effectiveness of land-based aerobic exercises.</h5>
        <h5>Swimming helps control weight, boost mood, and improve sleep, and it’s good for overall health, adds Madhoun.</h5>
         
             </div>
       </div> 
</div>
<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >3.Strength Training</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>For people with RA, certain joint pain triggers can make symptoms worse.</h5>
            <h5> But the stronger your muscles are, the less strain there is on your joints.</h5>
        <h5>So don’t be afraid of weights, because they’re a great way to get stronger and boost muscle mass.</h5>
        <h5>A study published in April 2018 in the journal Arthritis Care & Research found that in older adults with RA, aerobic and resistance exercises combined can improve aerobic capacity, endurance, and strength.</h5>
        <h5>Experiment with weight machines, free weights, and resistance bands.</h5>
        <h5>Start slowly and increase your intensity gradually.</h5>
        <h5>Aim for two or three days a week, doing eight to 10 different exercises that work different large muscle groups across your body. Do two or three sets of eight to 12 repetitions per exercise. Of course, if you feel pain, back off a little.</h5>
             </div>
       </div> 
</div>
<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >4.Cycling</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>Cycling is a great form of aerobic exercise that’s easy on the joints.</h5>
            <h5> But it does come with the risk of falling, so it’s important to get the right type of bike for your body.</h5>
        <h5>The Arthritis Foundation recommends looking into comfort bikes (cruisers), recumbent bikes, mountain bikes, or hybrid bikes, all of which have good stability and handling.</h5>
        
             </div>
       </div> 
</div>
<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >5.Yoga</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>When a joint and its surrounding muscles are affected by arthritis, the result is often impaired coordination, position awareness, [and] balance and an increased risk of falling, which is why people complain of their ‘knees giving out’ with activity,” Madhoun says.</h5>
            <h5> He explains that yoga is example for exercises that improve body awareness, which can increase coordination and balance, a sense of where joints are positioned (proprioception), and relaxation.</h5>
        <h5>Plus, they include flexibility and range-of-motion moves, which boost joint flexibility and function, according to the CDC.</h5>
     
             </div>
       </div> 
</div>
<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >6.Pilates</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>Pilates focuses on strengthening and improving control of muscles, giving you a low-impact workout that may ease pressure on your hips and other joints.</h5>
            <h5>Pilates can also be helpful in managing pain and coping with the symptoms of RA.</h5>
        <h5>The Arthritis Foundation cautions people to stick to their own pace in a Pilates class and ask the instructor about modifications if RA symptoms are affecting you.</h5>
        <h5>Balance exercises such as walking backward or standing on one foot are also valuable for boosting balance and avoiding falls.</h5>
        <h5>Just be aware that you may need to modify some postures to lessen stress on joints and possibly integrate props to help with your balance.</h5>
      
             </div>
       </div> 
</div>
 
 
<div class="container">
    <div class="box">
        <div  style="font-size: 32px; font-weight: bold; ">
        <h1 style="text-decoration: underline;">Tips to protect your joints :</h1>
   <p> Start slowly to ease your joints into exercise if you haven't been active for a while. If you push yourself too hard, you can overwork your muscles and worsen your joint pain.</p>
    
   <h2> Consider these tips as you get started:</h2>
    
   <p> Keep the impact low. Low impact exercises like stationary or recumbent bicycles, elliptical trainers, or exercise in the water help keep joint stress low while you move.
    Apply heat. Heat can relax your joints and muscles and relieve any pain you have before you begin. Heat treatments — warm towels, hot packs or a shower — should be warm, not painfully hot, and should be applied for about 20 minutes.
    Move gently. Move your joints gently at first to warm up. You might begin with range-of-motion exercises for five to 10 minutes before you move on to strengthening or aerobic exercises.
    Go slowly. Exercise with slow and easy movements. If you feel pain, take a break. Sharp pain and pain that is stronger than your usual joint pain might indicate something is wrong. Slow down if you notice swelling or redness in your joints.
    Ice afterward. Apply ice to your joints for up to 20 minutes as needed after activity, especially after activity that causes joint swelling.
    Trust your instincts and don't exert more energy than you think your joints can handle. Take it easy and slowly increase your exercise length and intensity as you progress.</p>
</div>
</div>
</div>
    <div class="container">
        <div class="box">
            <div  style="font-size: 32px; font-weight: bold; ">
    <h1 style="text-decoration: underline;">Don't overdo :</h1>
    <p> You might notice some pain after you exercise if you haven't been active for a while. In general, if you're sore for more than two hours after you exercise, you were probably exercising too strenuously. Talk to your doctor about what pain is normal and what pain is a sign of something more serious.</p>
    
    <p>If you have rheumatoid arthritis, ask your doctor if you should exercise during general or local flares. One option is to work through your joint flares by doing only range-of-motion exercises, just to keep your body moving, or exercising in water to cushion your joints.</p>
    </div>
    </div>
</div>


