<%- include('./partials/nav.ejs') %>

<div class="container">
  <div class="box">
    <div style="font-size: 32px; font-weight: bold">
      <h1 style="text-decoration: underline">
        Every system in your body relies on physical activity.
      </h1>
      <h3>
        Staying active throughout the day can help you feel better and reduce
        your risk for diseases like cancer. Exercise reduces your risk for
        cancer because:
      </h3>

      <li>
        <i class="fas fa-caret-right"></i> It helps you maintain a healthy
        weight. Being overweight or obese is linked to 13 different types of
        cancer.
      </li>
      <li>
        <i class="fas fa-caret-right"></i> It helps regulate your hormones.
        Increased levels of some hormones can increase your cancer risk.
      </li>
      <li>
        <i class="fas fa-caret-right"></i> It supports healthy digestion and may
        reduce the number of toxins in your body.
      </li>

      <img src="../c1.jpg" alt="" />
      <h2 style="text-decoration: underline">
        How to add physical activity to your day
      </h2>
      <p>
        Sit less. Get up and move for at least one to two minutes every hour
        that you are awake. Extended periods of sitting increase your cancer
        risk, even if you exercise regularly. Sitting too much also increases
        your risk for obesity, which leads to cancer and other chronic diseases.
        Schedule exercise. Plan where, when and how you will exercise. And build
        up gradually. The American Institute for Cancer Research recommends at
        least 150 minutes of moderate exercise or 75 minutes vigorous exercise
        each week. It’s best to do a combination of both, and you don’t have to
        do it all at one time. You can split up your activity into short
        intervals of as little as 10 minutes.
      </p>
      <img src="../c2.jpg" alt="" />
      <h2 style="text-decoration: underline">
        Make sure you include strength training
      </h2>
      <p>
        Build Strength. If your body is strong, everyday tasks are easier. And
        you are less likely to get injured. Strength training, also called
        resistance training, should be done twice a week. <br />

        Strength training also helps you maintain a healthy weight by building
        muscle, which boosts your metabolism. <br />

        Reward yourself. Keep yourself motivated by celebrating success. Small
        weekly rewards could include a new song download for workouts, a
        manicure or a trip to see a movie. You can also make exercise something
        to look forward to by adding in guilty pleasures like while you work
        out. Rewards will help you keep to your goals over time.
      </p>
      <img src="../images/bg3.jpg" alt="" />
    </div>
  </div>
</div>
