<%- include('./partials/nav.ejs') %>
<div class="container">
    <div class="box">
       <div class="heading">  
          <h5 >Diet plan for Heart Disease reduction </h5>
          
          </div>
          <img  class="img" style="height: 820px; margin-top: 10px;" src="../d1.jpg" alt="">
          <div class="text">
            <p>For years, research into connections between diet and heart disease focused on individual nutrients like
                cholesterol (and foods high in dietary cholesterol, like eggs), types of fats, and specific vitamins and
                minerals. This work has been revealing, but it has also generated some dead ends, along with myths and
                confusion about what constitutes a heart-healthy diet. That’s because people eat <b>food</b> , not
                nutrients.</p>

          
                <li>The best diet for preventing heart disease is one that is full of fruits and vegetables, whole
                    grains, nuts, fish, poultry, and vegetable oils; includes alcohol in moderation, if at all; and goes
                    easy on red and processed meats, refined carbohydrates, foods and beverages with added sugar,
                    sodium, and foods with trans fat.</li>
                <li>People with diets consistent with this dietary pattern had a 31% lower risk of heart disease, a 33%
                    lower risk of diabetes, and a 20% lower risk of stroke. [20]</li>
            
      
          </div>
    </div> 
 </div>

 <div class="container">
    <div class="box">
        <div class="heading1">  
            <h5 >Diet plan for Type 2 Diabetes reduction </h5>
            
            </div>
          <img  class="img1" style="height: 820px;" src="../d2.jpg" alt="">
          <div class="text1">
            <h2 id="plan">Follow a healthy eating plan for weight loss</h2>
            <p>Research shows that you can prevent or delay type 2 diabetes by losing weight by following a low-fat, reduced-calorie eating plan and by being more active. Following an eating plan can help you reach your weight-loss goal. There are many ways to do this. Remember that the key to losing weight and preventing type 2 diabetes is to make lifelong changes that work for you. Many popular weight-loss plans promise “quick fixes” and haven’t been proven to work long-term or to prevent type 2 diabetes.</p>
            <p>The four most important steps to eating healthy for weight loss are:</p>
            <ol>
                <li>Eat smaller portions than you currently eat of foods that are high in calories, fat, and sugar.</li>
                <li>Eat healthier foods in place of less-healthy choices.</li>
                <li>Choose foods with less <em>trans</em> fat, saturated fat, and added sugars.</li>
                <li>Drink water instead of drinks with sugar such as soda, sports drinks, and fruit juice.</li>
            </ol>
            <h3>Recommended daily calories and fat grams</h3>
            <p>The table below shows how many calories and fat grams to eat each day to lose weight. Your needs may be different, but these are good starting points. The amounts are based on the eating patterns used in the Diabetes Prevention Program research study.</p>
          </div>
    </div> 
 </div>
 <div class="container">
    <div class="box">
        <div class="heading">  
            <h5 >Diet plan for cancer reduction </h5>
            
            </div>
          <img  class="img" style="height: 1400px; width: 569px; margin-top: -100px;" src="../d3.jpg" alt="">
<div class="text">
    <p>No food or food group can prevent cancer and eliminating specific foods won’t eliminate your risk. But eating a diet based on plant foods like vegetables, whole grains, beans and fruit and following some basic guidelines can help you reduce your risk for cancer and several other chronic diseases.</p>
    <p><b>Eat a plant-based diet</b></p>
    <p>Eating a plant-based diet can give your body the fiber, vitamins, minerals and antioxidants it needs to stay healthy.</p>
    <p>Eating plant-based does not mean you can’t eat meat, fish or animal products like cheese and eggs. It means at least <u>two-thirds of what you eat is plants</u>: vegetables, whole grains and beans. Fruit, nuts and seeds are included. So are plant-based proteins like tofu.</p>
    <p>Not all plant-based foods are healthy. Highly refined and packaged foods like crackers have had much of their fiber and nutrients stripped away, and they can be high in salt, sugar and fat. Limit refined foods like regular pasta, white bread and white rice. Choose whole-grain items like whole-wheat bread and brown rice more often.</p>
    <p>The benefits of eating mostly plants are not limited to reducing your cancer risk. A plant-based diet also has been shown to reduce your risk for heart disease, stroke, diabetes and some mental health illnesses.</p>
    <p><b>Limit red meat</b></p>
    <p>Research shows that eating too much red meat can increase your risk of colorectal cancer. Adult men and women should eat no more than 18 ounces of cooked red meat a week. Less is better. Red meat is any meat from a mammal. That includes beef, pork, veal, mutton and lamb.</p>
    <p>Eating red meat, in modest amounts provides valuable nutrients, including protein, iron, zinc and vitamin B12. But keep in mind, you can get these nutrients from other foods such as fish, poultry, eggs, nuts, seeds and a healthy plant-based diet.</p>
    <p>A serving size of red meat is about 3 ounces, or the size of a deck of cards. It’s best to eat it only occasionally, as part of a plant-based diet.</p>
</div>
</div> 
</div>

<div class="container">
    <div class="box">
       <div class="heading1">  
          <h5 > Diet plan for arthritis reduction</h5>
       
          </div>
          <img  class="img1"  style="height: 1600px;" src="../d4.jpg" alt="">
          <div class="text1">
         <h2>The food groups </h2>
         <p>For a balanced diet, you should try to eat a range of food from the following groups:</p>
     
             <li>fruit and vegetables</li>
             <li>starchy foods, such as potatoes and wholegrains; bread, rice, or pasta</li>
             <li>foods containing protein, such as beans, pulses, meat, fish, or eggs</li>
             <li>dairy or dairy alternatives</li>
             <li>healthy fats, such as unsaturated oils and spreads.</li>
    
         <h2>Fruit and vegetables</h2>
         <p>Fruit and vegetables should make up just over one-third of the food you eat each day. They’re a good source of vitamins and some minerals that your body needs, as well as providing you with fibre which can help keep your digestive system healthy.

            It’s recommended that everyone eats at least five portions of fruit and vegetables every day. It’s best to eat a variety of different types and to make sure that vegetables included in our diet, and not only fruit.
            
            The fruit and vegetables you eat don’t need to be fresh – frozen, canned or dried fruits and vegetables also count, as well as juices. However it’s important to be aware that fruit juices contain large amounts of sugars and hidden calories, even those with no added sugar.
            
            People who eat five portions a day are at lower risk of cardiovascular disease and some types of cancer.
            
            The following all count as a portion:</p>
          
                <li>80g of fresh, canned or frozen fruit or vegetables</li>
                <li>30g of dried fruit</li>
       
            <h2>Dairy and dairy alternatives</h2>
            <p>Dairy products are good sources of protein and calcium, which can help keep your bones strong and healthy. Dairy products include cows’ milk, yogurt, cheese and kefir. Dairy alternatives, such as soya, coconut, nut, oat and pea milks are also good sources of protein, but always check the label to see if they are fortified with calcium and iodine.

                Try to pick lower fat and lower sugar options where possible, for example semi-skimmed milk, lower fat hard cheeses or yogurts that are low in sugar.</p>
          </div>
    </div> 
 </div>

 <div class="container">
    <div class="box">
       <div class="heading">  
          <h5 >Diet plan for obesity reduction</h5>
       
          </div>
          <img  class="img"  style="height: 1560px; width: 560px;" src="../d5.png" alt="">
          <div class="text">
       <p>There's no single rule that applies to everyone, but to lose weight at a safe and sustainable rate of 0.5 to 1kg a week, most people are advised to reduce their energy intake by 600 calories a day.

        For most men, this will mean consuming no more than 1,900 calories a day, and for most women, no more than 1,400 calories a day.
        
        The best way to achieve this is to swap unhealthy and high-energy food choices – such as fast food, processed food and sugary drinks (including alcohol) – for healthier choices.
        
        <h3>A healthy diet should consist of: </h3></p>
        
             <li> plenty of fruit and vegetables</li> 
       <li> plenty of potatoes, bread, rice, pasta and other starchy foods (ideally you should choose wholegrain varieties)</li>
       <li> some milk and dairy foods</li>
      <li>  some meat, fish, eggs, beans and other non-dairy sources of protein</li>
      <li>  just small amounts of food and drinks that are high in fat and sugar</li>
       <li> Try to avoid foods containing high levels of salt because they can raise your blood pressure, which can be dangerous for people who are already obese. Read some tips for a lower-salt diet.</li>
      
     
       <p>
        You'll also need to check calorie information for each type of food and drink you consume to make sure you don't go over your daily limit.</p> 
<h3>Very low calorie diets</h3>
        <p>A very low calorie diet (VLCD) is where you consume less than 800 calories a day.

            These diets can lead to rapid weight loss, but they are not a suitable or safe method for everyone, and they are not routinely recommended for managing obesity.
            
            VLCDs are usually only recommended if you have an obesity-related complication that would benefit from rapid weight loss.
            
            VLCDs should not usually be followed for longer than 12 weeks at a time, and they should only be used under the supervision of a suitably qualified healthcare professional.
            
            Speak to your GP first if you're considering this type of diet.</p>
            <p>Avoid fad diets that recommend unsafe practices, such as fasting (going without food for long periods of time) or cutting out entire food groups. These types of diets do not work, can make you feel ill, and are not sustainable because they do not teach you long-term healthy eating habits.</p>
          </div>
    </div> 
 </div>
 <div class="container" >
    <div class="box" style="margin: 0mm;" >
       <div class="heading1" >  
          <h5 >Diet plan for Weight gain</h5>
          
          </div>
          <img  class="img1"  style="height: 1300px;max-width: 700px;
          width: 661px; " src="../d6.png" alt="">
         <div class="text1" style="width: 767px;margin: 0px; padding: 0px;"><table><tbody><tr><td><strong>Meals</strong></td>
            <td><strong>Time</strong></td>
            <td><strong>What to have</strong></td>
            </tr><tr><td>Early Morning</td>
            <td>7 a.m. – 8 a.m.</td>
            <td>Overnight soaked almonds (6-7 pieces)</td>
            </tr><tr><td>Breakfast</td>
            <td>8 a.m. – 9 a.m.</td>
            <td>2 multigrain breads with low-fat butter and egg omelet (2 egg whites from 1 whole egg).<br>
            Or
            <p>A cup of corn flakes, oats with milk, or any cereal porridge (use full-fat milk).<br>
            Or</p>
            <p>Poha, upma, or daliya khichdi with lots of veggies.<br>
            Or</p>
            <p>2 chapatis with a cup of veggies and a cup of boiled sprouts<br>
            Or</p>
            <p>2 protein (Cottage cheese/sprouts) stuffed parathas with chutney or pickles.</p>
            <p>Whole fruits or a glass of fresh vegetable juice with pulp.</p></td>
            </tr><tr><td>After Breakfast</td>
            <td>11 a.m. – 12 p.m.</td>
            <td>A glass of full fat milk with a health drink of your choice or whey protein.</td>
            </tr><tr><td>Lunch</td>
            <td>1:30 p.m. – 2:30 p.m.</td>
            <td>A small cup of rice and two chapatis.
            <p>A cup of pulses (masoor, moong, chana).</p>
            <p>½ cup of vegetable curry.</p>
            <p>3 oz chicken breast or a piece of fish/ eggs/ tofu/cottage cheese.</p>
            <p>Mixed salad made of cucumber, carrot, and tomatoes.</p>
            <p>A small cup of curd or yogurt.</p></td>
            </tr><tr><td>Evening&nbsp;snack</td>
            <td>5:30 p.m. – 6:30 p.m.</td>
            <td>Veg sandwich with cheese.<br>
            Or
            <p>Baked potato with skin and avocado dip.<br>
            Or</p>
            <p>Fistful mixture of roasted nuts.</p></td>
            </tr><tr><td>Dinner</td>
            <td>8:30 p.m. – 9:30 p.m.</td>
            <td>½ cup of brown rice and 1 cup of kidney beans/black beans/ mushroom curry.
            <p>Mixed salad made of cucumber, carrot, and tomatoes.</p></td>
            </tr><tr><td>Before bed</td>
            <td>10:30 p.m. – 11 p.m.</td>
            <td>A glass of full fat milk.</td>
            </tr></tbody></table></div>
    </div> 
 </div>