<%- include('./partials/nav.ejs') %>
   <div class="container">
      <div class="box">
         <h2>Strengthening your heart is one of the best things you can do for your health. And as you know,
            the best way to strengthen your heart is to exercise. In fact, if you don’t exercise you’re more
            than twice as likely to get heart disease as someone who does. If you have a history of heart
            disease, or just worry about your heart health, you need to develop a regular exercise routine.
            Experts recommend you spend at least 150 minutes doing moderate exercise per week.</h2>
         <h2>But is all exercise created equal? Here are the best exercises to strengthen your heart.</h2>
      </div>
   </div>
   <div class="container">
      <div class="box">
         <div style="font-size: 5rem;text-align: center;">
            <h5>
               1.Walking
            </h5>
         </div>
         <div style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>
               Yes, it might seem a little too easy. But walking, especially speed walking, is a great way to
               strengthen your heart.
            </h5>
            <h5>
               Walking fast will get your heart rate up and is easier on your joints than other types of exercise.
            </h5>
            <h5>
               You can walk anywhere at any time. All you need is a pair of supportive shoes.
            </h5>
            <h5>
               Do a short walk during your lunch break or a longer walk on the weekend.
            </h5>
            <h5>
               You can listen to music, a podcast, or walk with a friend.
            </h5>
            <h5>
               The flexibility of walking makes it easy for anyone to do — and to keep doing it.
            </h5>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="box">
         <div style="font-size: 5rem;text-align: center;">
            <h5>
               2.Weight training
            </h5>

         </div>

         <div style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>
               Building the other muscles in your body will help your heart.
               Weight training will help you build muscle mass and burn fat.
            </h5>
            <h5>
               Although you can hit the gym to train with weights, some of the most effective weight training
               happens when you use your own body weight.
            </h5>
            <h5>
               Things like push-ups, squats, or even pull-ups all help you build muscle and contribute to bone and
               heart health.
            </h5>

         </div>
      </div>
   </div>
   <div class="container">
      <div class="box">
         <div style="font-size: 5rem;text-align: center;">
            <h5>
               3.Swimming
            </h5>

         </div>

         <div style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>
               Swimming isn’t just for lazy summer afternoons.
            </h5>
            <h5>
               Taking a water aerobics class or swimming laps can be a full-body workout that will strengthen not
               only your body, but your heart.
            </h5>
            <h5>
               Unlike other types of exercise, swimming is easy on your joints and allows you to move your body
               without a lot of pain.
            </h5>

         </div>
      </div>
   </div>
   <div class="container">
      <div class="box">
         <div style="font-size: 5rem;text-align: center;">
            <h5>
               4.Yoga
            </h5>

         </div>

         <div style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>
               Although it might not seem like it, yoga is great for your heart health.
            </h5>
            <h5>
               Doing yoga will help you strengthen and tone your muscles.
            </h5>
            <h5>
               Certain types of yoga can really get your heart rate up,while still providing the calm that will
               lower your blood pressure.
            </h5>

         </div>
      </div>
   </div>
   <div class="container">
      <div class="box">
         <div style="font-size: 5rem;text-align: center;">
            <h5>
               5.Interval training
            </h5>

         </div>

         <div style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>
               Interval training — which alternates between short bursts of high-intensity exercise with longer
               periods of active recovery — is a great way to get a full-sized workout in a short amount of time.
            </h5>
            <h5>
               For example, you can do it by running for one minute and walking for three minutes, then repeating
               the cycle.
            </h5>
            <h5>
               Raising and lowering of your heart rate helps to burn calories and improves the function of your
               blood vessels
            </h5>

         </div>
      </div>
   </div>
   <div class="container">
      <div class="box">
         <div style="font-size: 5rem;text-align: center;">
            <h5>
               6.Cycling
            </h5>

         </div>

         <div style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>
               Jumping on your bike can do more than just get you from one place to another.
            </h5>
            <h5>
               Cycling has been shown to help reduce the risk of heart disease.
            </h5>
            <h5>
               It uses your large muscles in your legs, which helps to elevate your heart rate.
            </h5>
            <h5>
               Cycling has even been shown to improve your mental health.
            </h5>

         </div>
      </div>
   </div>
   <h5>Whether you choose to hit a yoga class three times a week, go walking with a friend, or swim
      every morning, regular exercise is essential to taking care of your heart. Always talk to your
      doctor before you begin an exercise routine. </h5>