<%- include('./partials/nav.ejs') %>


<div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >1.walking</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>You don’t need a gym membership or expensive exercise equipment to get moving.</h5>
        <h5> If you have a supportive pair of shoes and a safe place to walk, you can start today.</h5>
    <h5>In fact, you can meet your recommended minimum target for aerobic fitness by going for a brisk 30-minute walk five days a week.</h5>
    <h5>According to a 2014 review, walking can help people with type 2 diabetes lower their blood sugar levels and lose weight.</h5>
   
         </div>
   </div> 
</div>
<div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >2.Cycling</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>Roughly half of people with type 2 diabetes have arthritis.</h5>
        <h5> The two conditions have several risk factors in common, including obesity.</h5>
    <h5>Diabetic neuropathy, a condition that occurs when the nerves become damaged, can also cause joint pain in people with type 2 diabetes.</h5>
    <h5>If you have lower joint pain, consider choosing low-impact exercise.</h5>
    <h5>Cycling, for example, can help you meet your fitness goals while minimizing strain on your joints.</h5>
   
         </div>
   </div> 
</div>
<div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >3. Swimming</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>Aquatic activities provide another joint-friendly exercise option.</h5>
        <h5> For example, swimming, water aerobics, aqua jogging, and other aquatic activities can give your heart, lungs, and muscles a workout, while putting little stress on your joints.</h5>
    <h5>A 2017 review found that aquatic exercise can help lower blood sugar levels, much like land-based exercise does.</h5>
    
         </div>
   </div> 
</div>
<div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >4.Team sports</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>If you find it hard to motivate yourself to exercise, it might help to join a recreational sports team.</h5>
        <h5>The opportunity to socialize with teammates and the commitment you make to them might help you find the motivation you need to show up each week.</h5>
    <h5>Many recreational sports offer a good aerobic workout.</h5>
    <h5>Consider trying basketball, soccer, softball, pairs tennis, or ultimate frisbee.</h5>
     
         </div>
   </div> 
</div>
<div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >5.Aerobic dance</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>Signing up for an aerobic dance or other fitness class might also help you meet your exercise goals.
        </h5>
        <h5> For instance, Zumba is a fitness program that combines dance and aerobic movements for a fast-paced workout.</h5>
    <h5>A 2015 study found that women with type 2 diabetes were more motivated to exercise after taking part in Zumba classes for 16 weeks.</h5>
    <h5>Participants also improved their aerobic fitness and lost weight.</h5>
  
         </div>
   </div> 
</div>  <div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >6.Weightlifting</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>Weightlifting and other strengthening activities help build your muscle mass, which can increase the number of calories you burn each day.</h5>
        <h5>Strength training may also help improve your blood sugar control, reports the ADA.</h5>
    <h5>If you want to incorporate weightlifting into your weekly exercise routine, you can use weight machines, free weights, or even heavy household objects, such as canned goods or water bottles.</h5>
    <h5>To learn how to lift weights safely and effectively, consider joining a weightlifting class or asking a professional fitness trainer for guidance.</h5>
     
         </div>
   </div> 
</div>
<div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >7.Resistance band exercises</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>Weights aren’t the only tool that you can use to strengthen your muscles.</h5>
        <h5>You can also perform a wide variety of strengthening activities with resistance bands.</h5>
    <h5>To learn how to incorporate them into your workouts, speak with a professional trainer, take a resistance band class, or watch a resistance band workout video.</h5>
    <h5>In addition to increasing your strength, exercising with resistance bands may provide modest benefits to your blood sugar control, according to a recent study published in the Canadian Journal of Diabetes.</h5>
     
         </div>
   </div> 
</div>
<div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >8.Calisthenics</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>In calisthenics, you use your own body weight to strengthen your muscles.</h5>
        <h5> Common calisthenic exercises include pushups, pullups, squats, lunges, and abdominal crunches.</h5>
    <h5>Whether you choose to strengthen your muscles with weights, resistance bands, or your own body weight, try to work out every major muscle group in your body.</h5>
    <h5>To give your body time to recover, take a day off from muscle-strengthening activities between each session of strength training, suggests the ADA.</h5>
 
         </div>
   </div> 
</div>
<div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >9.Pilates</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>Pilates is a popular fitness program that’s designed to improve core strength, coordination, and balance.</h5>
        <h5> According to a recent study of older women with type 2 diabetes, it may also help improve blood sugar control.</h5>
    <h5>Consider signing up for a Pilates class at your local gym or Pilates studio.</h5>
    <h5>Many instructional videos and books are also available.</h5>
 
         </div>
   </div> 
</div>
<div class="container">
   <div class="box">
      <div  style="font-size: 5rem;text-align: center;">  
         <h5 >10.Yoga</h5>
      
         </div>
        
         <div  style="font-size: 32px; ">
        <h5><i class="fas fa-caret-right"></i>According to a 2016 review, yoga can help people with type 2 diabetes manage their blood sugar, cholesterol levels, and weight.</h5>
        <h5> It might also help lower your blood pressure, improve the quality of your sleep, and boost your mood.</h5>
    <h5>If you’re interested in trying yoga, sign up for a class at a local studio or gym.</h5>
    <h5>A trained professional can help you learn how to move from one pose to another, using the proper posture and breathing technique.</h5>
     
         </div>
   </div> 
</div>
 

