<%- include('./partials/nav') %>

<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >1.Pushups</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>Pushups are simple and help build muscle in your arms and shoulders. To do a pushup:</h5>
            <h5>Lie face down on the ground.</h5>
        <h5>Put your hands on the ground, palms flat, with your arms out at your sides and your hands shoulder-width apart.</h5>
        <h5>Slowly push your body up until your arms are fully extended. Keep your back and legs straight so that your body makes a straight line.</h5>
        <h5>Slowly lower yourself back down until your nose nearly touches the floor.</h5>
        <h5>Repeat as many times as you feel comfortable.</h5>
 
             </div>
       </div> 
 </div>
<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >2.Pullups</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>You’ll need some kind of pullup bar or sturdy cylindrical object to do pullups. Otherwise, this exercise is a simple way to build arm and shoulder muscles.</h5>
            <h5> Grip the pullup bar with both hands. Your palms should face away from you. Keep your arms shoulder-width apart.</h5>
        <h5>Pull yourself up enough to hang off the bar so that your feet aren’t touching the ground and your arms are straight.</h5>
        <h5>Continue to pull yourself up until your chin is above the bar.</h5>
        <h5>Slowly lower yourself down so that your arms are straight again.
            Repeat as many times as you want.</h5>
       
             </div>
       </div> 
 </div>
<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >3.Squats</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>This exercise helps build muscle in your butt and legs, especially your quadriceps femoris (quads) muscles.</h5>
            <h5>Stand up straight so that your feet are hips-width distance apart.</h5>
        <h5>Put your hands on your hips and flex your abdominal muscles.</h5>
        <h5>Begin lowering yourself down using only your legs, as if you’re about to sit down, and get into a seated position until your thighs are parallel to the ground. Keep your upper body as still as possible.
        </h5>
        <h5>Raise yourself back up to your original position.</h5>
        <h5>Repeat as many times as you want.</h5>
       
             </div>
       </div> 
 </div>
<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >4.lunges</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>You can do this exercise anywhere. It’s great for bulking up and toning your leg and butt muscles.
            </h5>
            <h5>Stand up straight, flexing your abdominal muscles.</h5>
        <h5>Extend one leg like you’re taking a step, then lean forward like you’re kneeling until your knees are at 90-degree angles.</h5>
        <h5>Push back on your heel to lift yourself back up to your initial position.</h5>
        <h5>Repeat as many times as you feel comfortable on one leg.</h5>
        <h5>Repeat for the other leg.</h5>
         
             </div>
       </div> 
 </div>
<div class="container">
       <div class="box">
          <div  style="font-size: 5rem;text-align: center;">  
             <h5 >5.Bench press</h5>
          
             </div>
            
             <div  style="font-size: 32px; ">
            <h5><i class="fas fa-caret-right"></i>For this exercise, you’ll need a flat bench to lie on and a weighted bar. Don’t overload the bar, though,because you can injure yourself.</h5>
            <h5>Bench presses help build shoulder, tricep, and chest muscles. This is a good exercise for bulking up. The more weight you can bench, the more muscle you’ll build.</h5>
        <h5>Lie on your back on the bench. If the bench has a rack for the bar, face the bar. If there’s no rack, hold the bar carefully and slowly lie backward on the bench until you’re comfortable.</h5>
        <h5>If there’s a rack, grab the bar with both hands, including your thumbs. Feel free to spread your fingers a bit.</h5>
        <h5>Extend your arms to take the bar out of the rack.
        </h5>
        <h5>Slowly lower your arms to bring the bar down to your chest.Slowly straighten your arms and raise the bar back toward the rack. If there’s no rack, make sure you have the strength to sit back up after you’re done.</h5>
        <h5>Repeat steps 4 and 5 as many times as you feel comfortable.</h5>
             </div>
       </div> 
 </div>


<div class="container">
    <div class="box">
        <div  style="font-size: 32px; font-weight: bold; ">
          <h1 style="text-decoration: underline;">What exercises to avoid :</h1>
    
        <p>To gain weight, minimize aerobic and cardio exercises. These are meant to burn fat and tone muscle, not bulk
            you up. </p>
        <p>You don’t have to avoid them entirely, though. You can do these exercises in moderation to tone your muscles.
            This will help you build definition so that you can achieve the look that you want.</p>
    </div>
    </div>
    </div>
</div>
  